dash==2.0.0
dash-bootstrap-components==1.0.2
Flask==1.1.2
kaleido==0.2.1
pandas==1.2.1
plotly==5.5.0
scipy==1.7.1
# heartandsole with required dependencies
# heartandsole==0.0.23
# activereader==0.0.1
# pandas-xyz==0.0.5
# Not used:
# requests==2.25.1
# SQLAlchemy==1.4.22
# flask-sqlalchemy==2.5.1
# python-dotenv==0.19.0